@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor--fundo: #ffffff;
    --cor--secundaria: #000000;
    --cor--terciaria: #8B0505;
    --cor--hover: #D8C4B6;
    --fonte--primaria:'Krona One', sans-serif;
    --fonte--secundaria:'Montserrat', sans-serif;

}
*{
    
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 5%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte--primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;
    
}

body {
    box-sizing: border-box;                                        
    background-color: var(--cor--fundo);
    color:var(--cor--secundaria);
}
.destaque-titulo {
    color:var(--cor--terciaria);
    
}
.apresentacao {
    display: flex;  
    align-items: center;
    }
    
.apresentacao__conteudo {
   flex-direction: column;
   gap: 40px;
   width: 50%;
   margin: 5%;
}
.apresentacao__artigos {
    display: flex;

}
.apresentacao__conteudo__artigos {
   margin: 5%;
   gap: 40px;
  
}


.apresentacao__resumos {
    padding: 5% 5%;
    display: flex; 
    justify-content: center;
    gap: 100px;
}
.apresentacao__conteudo__resumo {
    margin: 1%;
    font-size: 50px;
    font-family: var(--fonte--primaria);
    margin-left: 5% ;
    text-align:justify;
    
}

.apresentacao__conteudo__titulo {
    font-size: 40px;
    font-family: var(--fonte--primaria);
    margin-bottom: 1em;
    text-align: center;

}

.apresentacao__conteudo__texto {
    font-size: 40px;
    font-family: var(--fonte--secundaria);
    text-align: justify;
    margin-bottom: 10%;
}

.apresentacao__conteudo__texto__about {
    font-size: 35px;
    font-family: var(--fonte--secundaria);
    text-align: justify;
    margin-bottom: 10%;
}

.apresentacao__conteudo__texto__artigos {
    text-align: center;
    font-size: 2em;
    font-family: var(--fonte--secundaria);
    margin: 5%;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte--primaria);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10%;
}
.apresentacao__imagem__about {
    display: flex;
    align-items: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
    gap: 40px;
    margin: 1em;
}

.apresentacao__links__botao {
    justify-content: center;
    gap: 16px;
    padding: 21.5px 0;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid var(--cor--terciaria);
    width: 50%;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte--secundaria);
}
.apresentacao__links__botao__participe {
    justify-content: center;
    gap: 16px;
    padding: 21.5px 0;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid var(--cor--terciaria);
    width: 50%;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte--secundaria);

}

.apresentacao__links__botao:hover {
    background-color: var(--cor--hover);
    color: var(--cor--fundo);
    padding: 3%;
    width: 600px;
}

.apresentacao__imagem {
    width: 50%;
    margin: 0em 0em 20% 10%;
}
.apresentacao__imagem__about {
    width: 50%;
    margin: 0em 0em 0em 5em;

}

.rodape {
    font-family: var(--fonte--secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
    text-align: center;
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}
